<div id="chartContainer" class="chart-container">
    <div id="scatterPlot" class="scatter-plot"></div>
  
    <div class="toggle-switch">
      <span class="toggle-label left-label">Première ronde</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="useTop5" (change)="updateChart()">
        <span class="slider"></span>
      </label>
      <span class="toggle-label right-label">Top 5</span>
    </div>
  
    <div id="chartLegend" class="legend">
      <div class="legend-item">
        <span class="legend-color champion"></span>
        <span class="legend-text">Champion</span>
      </div>
      <div class="legend-item">
        <span class="legend-color non-champion"></span>
        <span class="legend-text">Non champion</span>
      </div>
    </div>
  
    <div id="chartTooltip" class="tooltip"></div>
  </div>
  